<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div>
  <span class="h1 mr-1">Doses</span>
      <%= link_to new_cocktail_dose_path(@cocktail) do %>
        <i class="fa fa-plus-circle"></i>
    <% end %>
  </div>
  <ul>
    <% @cocktail.doses.joins(:ingredient).order(:name).each do |dose| %>
      <li>
        <%= dose.ingredient.name %>&mdash;<%= dose.description %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= link_to "<- Back to cocktails", cocktails_path %>
  </div>
</div>
